
body {
    margin: 0;
    background-color: #111;   
    color: #b86bff;         
    font-family: Arial;
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #3a0066;
    z-index: 10;
    box-sizing: border-box; 
}

header h1{
    margin: 0;
    color: #b86bff;
}

header nav{
    display: flex;
    align-items: center;
    overflow: hidden;     
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #b86bff;
}

footer {
    width: 100%;
    background-color: #1a1a1d;
    border-top: 1px solid #3a0066;
    padding: 20px 0;
    margin-top: 60px; 
    text-align: center;
}

footer p {
    margin: 0;
    color: #b86bff;
    font-size: 1rem;
}

.titulo{
    font-size: 25px;
    text-align: center;
    color: #b86bff;
}

hr{
    width: 80%;
    border: 1px solid #b86bff;
}

.secao-titulo {
    width: 100%;
    height: 530px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px; 
}

.titulo-principal {
    font-size: 4rem;
    text-align: center;
    color: #c487ff;
}

.conteudo {
    padding: 50px;
    margin-top: 50px;
}

.grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);   
    gap: 30px;                              
    padding: 40px;
    margin-top: 40px;
}

.item{
    position: relative;
    background: #1a1a1d;
    width: 420px;
    height: 300px;
    border: 4px solid #3a0066;
    border-radius: 10px;
    color: #b86bff;
    text-align: baseline;
    overflow: hidden;
    transition: 0.5s ease;
    margin-left: 5rem;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item:hover{
    filter: brightness(80%);
    transform: translateY(-10px)
}

.overlayTexto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: #b86bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s ease;
}

.item:hover .overlayTexto{
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: #b86bff;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    opacity: 0;
    transition: 0.4s ease;
}

.item:hover .overlay {
    opacity: 1;
}

/* secao 2 */

.grade-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);              
    gap: 30px;
    padding: 40px;
    margin-top: 40px;
}

.item2 {
    position: relative;
    background: #1a1a1d;
    width: 700px;
    height: 500px;
    border: 4px solid #3a0066;
    border-radius: 10px;
    color: #b86bff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s ease;
    margin-left: 5rem;
}

.item2 h2, p {
    margin: 1rem;
}

.item h2, p {
    margin: 1rem;
}

.item2 img, iframe, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.item2:hover{
    transform: translateY(-10px);
    filter: brightness(80%);
}

/* calculadora */

.centraliza{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 600px;
    padding: 30px;
    background-color: #1a1a1d;
    border: 4px solid #3a0066;
    border-radius: 15px;
    text-align: center;
}

.calc h2 {
    color: #c487ff;
}

.calc input {
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #3a0066;
    font-size: 1rem;
    outline: none;
}

.obs {
    width: 90%;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #3a0066;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #b86bff;
}

#res{
    margin: 0 auto;
}

.calc button {
    padding: 10px 25px;
    background-color: #c487ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease;
}

.calc button:hover {
    background-color: #a55be8;
}
.distancia{
    height: 200px;
}